// Primary Brand Colors
$procoreOrange: #F47E42;
$procoreBlack: #282828;
$white: #fff;

// Product Line Colors
$constructionFinancials: #81BC00;
$fieldProductivity: #35BDA5;
$projectManagement: #3D7DCA;
$qualitySafety: #E1261C;

// Secondary Brand Colors
$lightBlue: #3DB5E6;
$darkBlue: #002D5D;
$purple: #84286B;
$yellow: #FFC72A;

// Grays
$backgroundPrimary: #F6F6F6;
$backgroundSecond: #E6E6E6;
$finePrint: #A6A6A6;
$text: #777777;