#landingPage {
    #rsvpForm {

        .error-alert {
            color: $qualitySafety;
            text-align: right;
            display: none;

            &.active {
                display: block
            }
        }

        select {
            margin: 0 0 24px 0;
        }
    }
}